<!DOCTYPE html>
<!--1. здесь укажем, что используем thymeleaf -->
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--2. изменим название страницы -->
    <title>Все люди</title>
</head>
<body>
<!--3. теперь здесь мы должны пройтись по массиву из людей
    и вывести каждого человека, для этого в thymeleaf
    есть некое подобие цикла - th:each,
    которое проходится по элементам колекции
    и выводит каждый из эл-тов в виде html кода.
    ему мы пердаем на вход, что-то наподобии цикла foreach
    мы указвваем название коллекции - ${people}
    и указываем временную переменную - person,
    которая будет указывать на каждый из элементов этой коллекции
     -->
<div th:each="person : ${people}">
    <!--
        4. сделаем ссылку,
        чтобы каждого человека, можно было по его имени нажать,
        чтобы перейти на его страницу, по его id-шнику
        user - здесь будет лежать имя человека, оно будет вставляться динамически
        с помощью поля -
        th:text - будем вставлять
        имя пользователя - ${person.getName()}
        в переменную user
        -->
    <!--
        5.теперь нам нужно, чтобы принажатии на каждое из этих имен
        мы переходили на страницу каждого человека
        для этого есть отдельный аргумент
        th:href="" - и здесь мы можем указать ту ссылку,
        "@{/ }" - здесь указываем адрес, на который мы хотим переходить
        - /people/{id}
        в круглых скобках () указываем значение для этого id
        id у нас равняется, тому что у нас лежит в person.getId
        - id=${person.getId}

        *** то есть мы получаем id каждого человека - ${person.getId}
            мы его кладем в переменную - id
            и эта временная переменная используется здесь же - /{id}
            чтобы сформировать динамически правильный адрес,
            на который будет переходить пользователь
            при нажатии на эту ссылку
        -->
    <a th:href="@{/people/{id}(id=${person.getId})}" th:text="${person.getName()}">user</a>
</div>

</body>
</html>