<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <!-- заголовок Hello -->
  <title>Hello</title>
</head>
<!-- то что увидит пользователь -->
<body>
Hello!
<!-- с помощью данного тэга создаем ссылку
 мы используем тэг a
 у этого тэга есть аргумент href
 в этом аргументе мы указываем тот адрес,
 на который будет осуществлен переход после нажатия на эту ссылку
 с помощью or добавляем еще одну ссылку -->
<a href="/goodbye">Say Goodbye</a> or <a href="/exit">Exit</a>
</body>
</html>